certifi==2026.6.17
charset-normalizer==3.4.9
idna==3.18
pillow==12.3.0
python-dotenv==1.2.2
redis==8.0.1
requests==2.34.2
rgbmatrix @ file:///home/pi0123/RGB_Project/rpi-rgb-led-matrix
spotipy==2.26.0
urllib3==2.7.0
